@import "tailwindcss";

:root {
  /* Rosé Pine Dawn*/
  --rpd-base: #faf4ed;
  --background-1: var(--rpd-base);

  --rpd-surface: #fffaf3;
  --background-2: var(--rpd-surface);

  --rpd-overlay: #f2e9e1;
  --background-3: var(--rpd-overlay);

  --rpd-muted: #9893a5;
  --muted: var(--rpd-muted);

  --rpd-subtle: #797593;

  --foreground: var(--rpd-text);
  --foreground-bright: black;

  --rpd-love: #b4637a;
  --love: var(--rpd-love);

  --rpd-gold: #ea9d34;
  --rpd-rose: #d7827e;

  --rpd-pine: #286983;
  --pine: var(--rpd-pine);

  --rpd-foam: #56949f;

  --rpd-iris: #907aa9;
  --iris: var(--rpd-iris);

  --rpd-highlight-low: #f4ede8;
  --rpd-highlight-med: #dfdad9;
  --rpd-highlight-high: #cecacd;

  --cl-green: #40a02b;
  --c-green: var(--cl-green);
}

@theme inline {
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);

  --color-muted: var(--muted);
  --color-foreground: var(--foreground);
  --color-foreground-bright: var(--foreground-bright);

  --color-love: var(--love);
  --color-pine: var(--pine);
  --color-iris: var(--iris);
  --color-c-green: var(--c-green);

  --color-primary: var(--iris);
  --font-sans: var(--font-go-mono);
  --font-mono: var(--font-go-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Rosé Pine */
    --rp-base: #191724;
    --background-1: var(--rp-base);

    --rp-surface: #1f1d2e;
    --background-2: var(--rp-surface);

    --rp-overlay: #26233a;
    --background-3: var(--rp-overlay);

    --rp-muted: #6e6a86;
    --muted: var(--rp-muted);

    --rp-subtle: #908caa;

    --rp-text: #e0def4;
    --foreground: var(--rp-text);
    --foreground-bright: white;

    --rp-love: #eb6f92;
    --love: var(--rp-love);

    --rp-gold: #f6c177;
    --rp-rose: #ebbcba;

    --rp-pine: #31748f;
    --pine: var(--rp-pine);

    --rp-foam: #9ccfd8;

    --rp-iris: #c4a7e7;
    --iris: var(--rp-iris);

    --rp-highlight-low: #21202e;
    --rp-highlight-med: #403d52;
    --rp-highlight-high: #524f67;

    --cm-green: #a6da95;
    --green: var(--cm-green);
  }
}

body {
  background: var(--background-1);
  color: var(--foreground);
  font-family: var(--font-go-mono);
}
